

#all-workouts-container{
    width:100%;
}

.all-workouts-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
    width:100%;
    padding:50px;
    gap:30px;
}