

#dashboard-container {
    display:flex;
    justify-content:center;
    

}


#grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
    width:100%;
    gap:16px;
    padding:100px;
    gap:30px;
    margin:0 auto; 
}

.grid-item {
    background-color:#f9f9f9;
    border:1px solid #ddd;
    border-radius:8px;
    padding:16px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
}

.square {
    aspect-ratio: 1 / 1;
}

.vertical-rectangle {
    grid-column: 3 / 4;
    grid-row: 1 / span 3;
}

.wide-rectangle {
    grid-column:1 / span 2;
    grid-row: 3 / 4;
}