

#dashboard-container {
    display:flex;
    justify-content:center;
    width:100%;
    

}


#grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows:auto;
    width:100%;
    gap:16px;
    padding:100px;
    gap:30px;
    margin:0 auto; 
    background-color:rgb(255, 255, 255);
}

.grid-item {
    background-color:rgba(231,230,247,0.4);
    
    border:1px solid #ddd;
    border-radius:20px;
    padding:16px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.grid-item:hover {
    transform: translateY(-10px);
    box-shadow:0 8px 12px rgba(163, 198, 132, 0.2);
    background-color:rgba(231,230,247,0.7);
}



.vertical-rectangle {
    grid-column: 3 / 4;
    grid-row: 1 / span 3;
}

.new-workout {
    grid-column:1;
    grid-row: 3 / 4;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position:relative;
    cursor:pointer;
    
    background-color:rgb(7, 182, 7);
    background-color:rgba(198,210,237, 1)

}

.new-workout:hover {
    background-color:rgb(198, 210, 250,1);
}

.new-workout::before {
    content: "+"; /* The plus sign */
    
    font-size: 48px;
    margin-left:8px;
    font-weight: bold;
    color: #ffffff;
    opacity: 0; /* Initially hidden */
    transition: background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease; /* Smooth fade-in */
}
.new-workout:hover::before {
    opacity: 1;
}
.new-workout > h3 {
    margin:0;
    flex-grow: 1;
    text-align:center;
}


.exercise-text {
    display: inline-block;
    position: relative;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.exercise-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease; 
}

.exercise-text:hover::after {
    width: 100%; 
    opacity: 1;  
}


.exercise-text::after {
    transition: width 0.3s ease, opacity 0.3s ease;
} 
.new-workout > h3{
    color:black;
}
h4 {
    text-align:left;
}

.cell{
    text-align:center;
    width:20%;
}
.info-bar {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    gap:10px;
}

.info-bar > h2 {
    padding-right:10px;
}

.past-workouts {
    grid-column:2;
    grid-row: 3 / 4;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position:relative;
    cursor:pointer;
    
    background-color:rgb(7, 182, 7);
    background-color:rgb(227, 208, 216,1);

}

.past-workouts:hover {
    background-color:rgb(235, 208, 216,1);
}

.past-workouts::before {
    
    font-size: 48px;
    margin-left:8px;
    font-weight: bold;
    color: #ffffff;
    opacity: 0; /* Initially hidden */
    transition: background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease; /* Smooth fade-in */
}
.past-workouts:hover::before {
    opacity: 1;
}
.past-workouts > h3 {
    margin:0;
    flex-grow: 1;
    text-align:center;
    color:black;
}

