
#workout-page-container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

}
#workout-info-header {
    width:100%;
    height:10vh;
    max-height:100px;
}
#sets-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:50%;
    

}
#set-list {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.exercise-group {
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    width:100%;
    border-radius:10px;
    margin:15px;
    padding:5px;

}
.exercise-group > h4 {
    font-size: 1.5rem;
    font-weight:bold;
    margin-bottom:20px;
    color:#333;
    padding:5px;
}
#workout-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.workout-component {
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:10px;
    border-bottom: 1px solid #ddd;
    /* Subtle shadow */
    margin:10px;
}
.workout-component > div {
    font-size:1.3rem;
    color:#333;
}

.workout-component div:first-child {
    font-weight:bold;
    margin-right:10px;
}
.workout-component:hover {
    background-color: #f5f5f5; /* Light gray background */
    transform: scale(1.02); /* Slight zoom */
    transition: 0.2s ease-in-out; /* Smooth transition */
  }



#add-new-workout {
    display:flex;
    gap:15px;
    border-radius:15px;
   
    padding:10px;
    margin-bottom:100px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items:center;

    

}

#add-new-workout input, #add-new-workout select, #add-new-workout button{
    border: none;
    outline:none;
    padding: 15px;
    margin:10px;
    font-size: 16px;
    flex:1;
    border-right:1px solid #ccc;
    
}

#add-new-workout > button {
    background-color:white;
    color: rgb(11, 203, 33); /* White text */
    border: none; /* Remove border */
    border-radius: 50%; /* Make it a circle */
    width: 40px; /* Width of the button */
    height: 40px; /* Height of the button */
    display: flex; /* Center align the plus sign */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px; /* Size of the plus sign */

}

#add-new-workout > button:hover {
    color: #014d13; /* Darker green on hover */
}
