
#workout-page-container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

}
.workout-info-header {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    gap:15px;
    width:60%;
    height:10vh;
    max-height:100px;
}
#sets-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:60%;
    

}
#set-list {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.exercise-group {
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    width:100%;
    max-width:830px;
    border-radius:10px;
    margin:15px;
    padding:5px;

}
.exercise-group > h4 {
    font-size: 1.5rem;
    font-weight:bold;
    margin-bottom:20px;
    color:#333;
    padding:5px;
}
#workout-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.workout-component {
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:10px;
    border-bottom: 1px solid #ddd;
    /* Subtle shadow */
    margin:10px;
}
.workout-component > div {
    font-size:1.3rem;
    color:#333;
}

.workout-component div:first-child {
    font-weight:bold;
    margin-right:10px;
}
.workout-component:hover {
    background-color: #f5f5f5; /* Light gray background */
    transform: scale(1.02); /* Slight zoom */
    transition: 0.2s ease-in-out; /* Smooth transition */
  }



#add-new-workout {
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    border-radius:15px;
    width:80%;
    max-width:850px;
   
    padding:10px;
    margin-bottom:100px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items:center;

    

}

#add-new-workout input, #add-new-workout select, #add-new-workout button{
    border: none;
    outline:none;
    padding: 15px;
    margin:10px;
    font-size: 16px;
    flex:1;
    border-right:1px solid #ccc;
    
}

#add-new-workout > button {
    background-color:white;
    color: rgb(11, 203, 33); /* White text */
    border: none; /* Remove border */
    border-radius: 50%; /* Make it a circle */
    width: 40px; /* Width of the button */
    height: 40px; /* Height of the button */
    display: flex; /* Center align the plus sign */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px; /* Size of the plus sign */

}

#add-new-workout > button:hover {
    color: #014d13; /* Darker green on hover */
}

#end-workout {
  display:flex;
  justify-content:center;
  align-items: center;
  height:80%;
}
#pause-workout {
  display:flex;
  justify-content:center;
  align-items: center;
  height:80%;
}
.pause-button {
    height:75%;
    width:60px;
    background-color:orange;
    
}
.end-button {
    background-color:lightgreen;
    width:60px;
    height:75%;
}
.end-button:hover {
    background-color: #03750d; /* Darker on hover */
}

.pause-button:hover {
    background-color:rgb(189, 125, 5);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparent dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  .modal-content > p {
    color:black;
  }
  
  .modal-content h3 {
    margin-bottom: 10px;
  }
  
  .modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-buttons button {
    padding: 8px 15px;
    margin:5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-buttons button:first-child {
    background-color: #dc5555;
  }
  
  .modal-buttons button:last-child {
    background-color: #2ecc71;
    color: white;
  }